nav.navbar {
    background-color: black;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: white;
    text-decoration-color: #fdb515;
}

.nav-link.underline-link {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: white;
    text-decoration-color: #fdb515;
}

img {
    width: 280px;
}

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.64)), url(/img/pizza-logo.jpeg) no-repeat center center fixed;
}

.landing-text {

    color: white;
}

.landing-text h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
}

.landing-text h3 {
    font-size: 40px;
}
